@font-face{
	font-family: elegant;
	src: url(fonts/aliquamrit.ttf);
}

/* //////////////////////////////////////////Main Css\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

body{
  height: 100%;
	background: #141414;
	color: white;
	overflow-x: : hidden;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%
}

::selection {
    background-color: #24b662;
    color: #ffffff;
}

::-moz-selection {
    background-color: #24b662;
    color: #ffffff;
}

section{
  padding: 100px 0;
}
section h2{
  margin: 0;
}
section.success {
  /*background: #18BC9C;*/
  font-family: elegant;
  /*line-height: 1.4px;*/
  font-weight: 100;
  color: white;
  font-size: 13px;
  letter-spacing: 2px;
}
/*section.featured-items{
  height: 90em;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
}*/


/*links*/
a {
    text-decoration: none;
}
a:hover {
    color: #fff;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}


/*Text*/
p {
    line-height: 20px;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}


/*Imagry and video*/
video{
  object-fit: contain;
  width: 100%;
}
video::-internal-media-controls-download-button {
    display:none;
}

img{
  object-fit: contain;
  width: 100%;
}



.no-padding {
    padding: 0
}

.section-space-padding {
    padding: 100px 0px;
}

.section-title {
    text-align: center;
}

.section-title h2 {
    margin-top: 0;
    font-weight: 600;
    border-bottom: 4px double #24b662;
  border-radius: 250px;
    font-size: 30px;
    margin: 0 auto;
    padding: 10px 0;
    width: 350px;
  margin-bottom: 30px;
}

.section-title p {
    font-weight: 400;
  line-height: 25px;
  margin-bottom: 40px;
}

.bg-cover {
  background-repeat: no-repeat;
}



#portfolioname{
	position: fixed;
	left: 3%;
	top: 4%;
	font-size: 45px;
}


.tempscreen{
	position: absolute;
	left: 40%;
	top: 10%; 
}
.tempscreen h1{
	font-size: 50px; 
}
.border{
	border: 1px dashed crimson;
}


/*//////////////////////////////Home\\\\\\\\\\\\\\\\\\\\\\\\*/
.button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.home-section {
    height: 100%;
}

.home-section-background {
    position: relative;
    height: 100%;
    background: url(../resources/images/sand.gif);
    background-size: cover;
    z-index: 1;
}

.home-section-background:after {
    position: absolute;
    background: rgba(0, 0, 0, .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.button:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}


.button:before {
  font-family: 'FontAwesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.button-style {
  border-radius: 50px;
  border: 3px solid #fff;
  color: #fff;
  overflow: hidden;
}

.button-style:hover,
.button-style:active,
.button-style:focus {
  background: #24b662;
  color: #ffffff !important;
}

.button-style:before {
  position: absolute;
  height: 100%;
  font-size: 125%;
  line-height: 3.5;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.button-style:active:before {
  color: #17954c;
}

.button-style-icon:before {
  left: 130%;
  top: -2px;
}

.button-style-icon:hover:before {
  left: 80%;
}

.button-style-dark {
  border: 3px solid #000000 !important;
  color: #000000;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.header-text {}

.home-section-background h2 {
    color: #f8f8f8;
    font-size: 50px;
    letter-spacing: 5px;
    margin: 0;
}

.home-section-background p {
    color: #f8f8f8;
    letter-spacing: 4px;
    font-size: 15px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


/*////////////////////////////Navigation Menu\\\\\\\\\\\\\\\\\\\\\\*/
.header-top-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.logo {
    padding-top: 28px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.logo a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight: 900;
    font-size: 14px;
}

.navigation-menu .navbar-nav li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 30px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 600;
}

.navigation-menu .navbar-nav li a:hover {
    background: none;
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav li a:focus,
.nav li a:hover {
    background: none;
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    margin: 0;
}

.navigation-background {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #000;
}

.navigation-background .logo {
    padding-top: 18px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-background .navigation-menu .navbar-nav li a {
    color: #fff;
    padding: 20px 15px;
    -webkit-transition: .3s;
    transition: .3s;
}

.navigation-background .navigation-menu .navbar-nav li a:hover {
    color: #fff;
}




/*//////////////////////////////////Portfolio Grid\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

#portfolio-grid .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio-grid .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio-grid .portfolio-item .portfolio-link .caption {
  background: rgba(24, 188, 156, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  
}
#portfolio-grid .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio-grid .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  /*font-size: 20px;*/
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio-grid .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio-grid .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio-grid * {
  z-index: 2;
}




.portfolio-inner .mix {
    display: none;
}

ul.portfolio {
    padding: 0;
    list-style: none;
    margin-top: 30px;
    margin-left: 8px;
    text-align: center;
}

ul.portfolio li {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 8px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border: none;
    cursor: pointer;
    font-size: 13px;
}

ul.portfolio li:hover {
    color: #A4DAFF;
    border: none;
}

ul.portfolio li.active {
    color: #ffffff;
    background-color: #24b662;
    padding: 5px 20px;
    border-radius: 20px;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
}

.portfolio .item {
    margin-top: 30px;
    position: relative;
}

.portfolio .item img {
    width: 100%;
    /*opacity: 0.7;*/
}

.item {
    -webkit-transition: .3s;
    transition: .3s;
}

.portfolio .item:hover a:before{
  top: 40%;
  -webkit-transition: all 400ms ease-in-out;
          transition: all 400ms ease-in-out;
}

.portfolio .item a:before{
  content: "View Project";
  text-align: center;
  color: #ffffff;
  position: absolute;
  font-size: 15px;
  top: 2%;
  opacity: 0;
  left: 0%;
  right: 0%;
  background-color: transparent;
  width: 190px;
  height: 70px;
  border-radius: 60%;
  line-height: 70px;
  margin: 0 auto;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.portfolio .item a:hover:before{
  opacity: 1;
}




/*/////////////////// Portfolio Modals \\\\\\\\\\\\\\\\*/
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
  font-size: 13px;
  letter-spacing: 2px;
  /*color: black;*/
  background-color: rgba(17,21,18, 0.7);
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content video {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
modal  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: white;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: white;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}



/*/////////////////////////////Preloader\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ffffff;
    z-index: 999;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

body.loaded #preloader{
    opacity: 0;
    visibility: hidden;
}

.loader{
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #24b662;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader:before{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #24b662;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

.loader:after{
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #24b662;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



.statistics-section {
  position: relative;
    background: url(../resources/images/skybox.png);
    background-size: cover;
    z-index: 1;
    height: 350px;
}
.statistics2-section {
    background: url(../resources/images/snowfield.jpg);
}


/*///////////////////////////////Skills\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.services-section {
}

.services-section hr {
  border-bottom: 2px solid #24b662;
  width: 42px;
  margin-left: 0px;
}

.services-section .services-detail {
  color: black;
  border-radius: 4px;
  border-bottom-right-radius: 20%;
  background-color: #FFFDFC;
  box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.15);
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 0px;
  padding: 60px 40px 60px 40px;
  margin-top: 32px;
}

.services-section .services-detail:hover {
  border-bottom-right-radius: 4px;
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  top: -5px;
}

.services-section .services-detail .fa {
  font-size: 42px;
}

.tools-section{

} 
.tools-section hr{
  border-bottom:  2px solid #24b662;
  width:  42px;
  margin-left:  0px;
}
.tools-section .tool-detail{
  color: black;
  border-radius: 4px;
  border-bottom-right-radius: 20%;
  background-color: transparent;
  /*box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 0.15);*/
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 0px;
  padding: 10px 10px 10px 35px;
  margin-top: 32px;
}
.tools-section .tool-detail:hover {
  border-bottom-right-radius: 4px;
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  top: -5px;
}


.contact-us-detail {
}

.contact-us-detail i {
  font-size: 30px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
  transition: all 0.3s ease-in-out;
    width: 88px;
    height: 88px;
    line-height: 88px;
}

.contact-us-detail:hover i {
  box-shadow: 0px 8px 15px 0px rgba(90, 91, 95, 0.33);
    margin-top: -5px;
}

.contact-us-detail a {
  color: #333;
}

.contact-us-detail a:hover {
  color: #333;
}



 .icons a {
    display: inline-block;
    width: 95px;
    height: 95px;
    margin: 0 auto;
    vertical-align: middle;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
}

.icons a.unity { background: url(../resources/icons/unityIcon.png) left top no-repeat; }
.icons a.unreal { background: url(../resources/icons/unrealIcon.png) left top no-repeat; }
.icons a.maya { background: url(../resources/icons/mayaIcon.png) left top no-repeat; }
.icons a.blender { background: url(../resources/icons/blenderIcon.png) left top no-repeat; }
.icons a.tiled { background: url(../resources/icons/tiledIcon.png) left top no-repeat; }
.icons a.photoshop { background: url(../resources/icons/photoshopIcon.png) left top no-repeat; }
.icons a.illustrator { background: url(../resources/icons/illustratorIcon.png) left top no-repeat; }
.icons a.premiere { background: url(../resources/icons/premiereIcon.png) left top no-repeat; }
.icons a.audition { background: url(../resources/icons/auditionIcon.png) left top no-repeat; }
.icons a.htmlcss { background: url(../resources/icons/htmlIcon.png) left top no-repeat; }
.icons a.webgljava { background: url(../resources/icons/webglIcon.png) left top no-repeat; }
.icons a.csharp { background: url(../resources/icons/csharpIcon.png) left top no-repeat; }

.icons a:hover { background-position: left -95px; }

.icons:hover a:before{
  top: -30%;
  -webkit-transition: all 400ms ease-in-out;
          transition: all 400ms ease-in-out;
}


.icons a:before{
  content: "View Project";
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  position: absolute;
  font-size: 10px;
  top: 2%;
  opacity: 0;
  left: 0%;
  right: 0%;
  background-color: transparent;
  line-height: 70px;
  margin: 0 auto;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.icons a:hover:before{
  opacity: 1;
}

.icons a.unity:before{content: "Unity";}
.icons a.unreal:before{content: "Unreal Engine";}
.icons a.maya:before{content: "Maya";}
.icons a.blender:before{content: "Blender";}
.icons a.tiled:before{content: "Tiled Editor";}
.icons a.photoshop:before{content: "Adobe Photoshop";}
.icons a.illustrator:before{content: "Adobe Illustrator";}
.icons a.premiere:before{content: "Adobe Premiere Pro";}
.icons a.audition:before{content: "Adobe Audition";}
.icons a.htmlcss:before{content: "Html / CSS";}
.icons a.webgljava:before{content: "WebGl / Javascript";}
.icons a.csharp:before{content: "C#";}



