/*Global*/

a {
  text-decoration: none;
  color: #bfa67a;
  outline: none;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.oh {
  overflow: hidden;
}
.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.02em;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 3px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #fff;
  background-color: #111;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.btn-lg {
  font-size: 14px;
  padding: 13px 34px;
}
.btn.btn-transparent {
  background-color: transparent;
  border: 3px solid #fff;
}



/*////////////////////////////////Home Section//////////////////////////*/


.hero-wrap {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero-holder {
  margin-top: 20%;
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
}
.hero-message {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  text-align: center;
}
.hero-message.text-rotator h1 {
  font-size: 70px;
}

.hero-message h1 {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1;
}
.hero-subtitle {
  text-transform: none;
  font-weight: normal;
  color: #fff;
  line-height: 1.5;
  font-size: 20px;
  max-width: 800px;
  margin: 24px auto 0;
}

.buttons-holder > a {
  margin: 5px;
}


.video-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.video-overlay {
  position: absolute;
  background-color: rgba(40, 40, 40, 0.5);
  height: 100%;
  width: 100%;
}

.video-img {
  background: url(../resources/images/time.gif) center center no-repeat;
  background-size: 100% 100%;
  z-index: -101;
  /*position: absolute;*/
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.video-img.dataspike-bg{
  background: url(../resources/images/data.gif) center center no-repeat;
  background-size: 100% 100%;
}

.local-scroll{
  margin-top: 25%;
}

.scroll-down {
  background-size: cover;
  font-size: 20px;
  width: 32px;
  height: 32px;
  background-color: rgba(255,255,255,.2);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  z-index: 50 !important;
  position: absolute;
  bottom: -40px;
  left: 50%;
  margin-left: -16px;
}

.scroll-down a {
  line-height: 36px;
  position: relative;
  z-index: 50 !important;
}


/*/////////////////////////////////////Intro///////////////////*/
.section-wrap.intro {
  background-color: #fff;
  color: black;
  padding: 170px 0 150px;
  background: url(../resources/images/paradox/stars.png);
  background-size: cover;
  background-position: center center;
  height: 100%;
}
.section-wrap.intro.dataspike-intro{
  background: url(../resources/images/dataspike/circuit.png);
  background-size: cover;
  background-position: center center;
  color: #00EAFF;
}


.intro.style-2 .intro-text p {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  color: #111;
}

.intro-heading {
  /*font-size: 28px;*/
  margin-bottom: 40px;
  width: 50%;
}


.heading-frame {
  /*padding: 38px 50px;*/
  /*border: 5px solid #111;*/
  display: inline-block;
}

.intro-text {
  margin-left: 10%;
  width: 80%;
  font-size: 17px;
  line-height: 32px;
}


/*////////////////////////////////////Features/////////////////////////*/
.promo-section img {
  width: 100%;
}
.promo-description {
  padding: 50px 0 50px 50px;
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.promo-description > h3 {
  margin-bottom: 22px;
}

.promo-description > p {
  color: #a6a6a6;
}

.promo-section .customNavigation > a,
.from-blog .customNavigation > a {
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
}

.promo-section .customNavigation > a:first-child, .promo-section .customNavigation > a:first-child,
.from-blog .customNavigation > a:first-child,
.from-blog .customNavigation > a:first-child {
  margin-right: 10px;
}

.promo-section .customNavigation > a:hover, .promo-section .customNavigation > a:hover,
.from-blog .customNavigation > a:hover,
.from-blog .customNavigation > a:hover {
  opacity: .8;
}



/*////////////////////////////////////Developers//////////////////*/
.testimonial-section {
    /*background: #F9F9F9;*/
}

.testimonial-carousel-list {
    padding: 30px;
    background-color: transparent;
    border-radius: 4px;
  /*box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);*/
    transition: all 0.3s ease-in-out;
    color: white;
}

.testimonial-carousel-list:hover {
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
    top: -5px;
}

.testimonial-word {
    padding: 0px 100px;
}

.testimonial-word img {
  margin: 0 auto;
  max-width: 100px;
  max-height: 100px;
}

.testimonial-word h2 {
    font-size: 12px;
    text-transform: uppercase;
  color: #24b662;
    font-weight: 700;
    letter-spacing: 4px;
    margin: 20px 0px;
}

.testimonial-word p {
    line-height: 25px;
}

.owl-navi {
  color: #24b662;
}

.owl-navi:hover {
  color: #000000 !important;
}

.owl-theme .owl-controls .owl-buttons div {
    display: inline-block;
    zoom: 1;
    margin: 5px;
    padding: 7px 13px;
  background-color: transparent;
    opacity: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}



/*///////////////////////////////// Footer ////////////////////////*/
.footer-logo img{
  margin-left: -35%; 
  height: 150%;
  width: 150%;
}

.footer.minimal {
  padding: 120px 0;
  text-align: center;
}

.footer.minimal .copyright {
  display: block;
  margin-top: 70px;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.footer.minimal .copyright a {
  color: #909090;
}

.socials.footer-socials a {
  margin: 0 2px;
}

.socials.footer-socials a:hover i {
  color: #fff;
  background-color: #bfa67a;
}

.socials.footer-socials i {
  width: 37px;
  height: 37px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #1b1b1b;
  color: #dbdbdb;
  line-height: 37px;
  text-align: center;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}




